.weather-forecast {
    padding: 10px 2px 10px 2px;
    background: white;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.weather-day {
    flex: 1;
    text-align: center;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.current-weather {
    flex: 1.5;
    background: #fff;
    padding: 15px 10px 15px 10px !important;
    border-right: 1px solid #dfdfdf;
}

.weather-location {
    font-size: 28px;
    font-weight: 400;
    margin: 0px 0px 10px 0px;
    color: #015fa8;
}

.current-weather-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.weather-temp-large {
    font-size: 29px;
}

.weather-icon {
    width: 100%;
    height: 100%;
    width: 55px;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.current-weather .weather-icon {
    max-width: 75px;
    max-height: 85px;
}

.weather-description {
    margin-top: 5px;
    text-transform: capitalize;
}

.current-weather-meta span {
    font-size: 15px;
    margin: 0px 4px -4px 4px;
}

.current-weather-meta {
    font-size: 15px;
    color: #6c757d;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.weather-feels-like {
    color: #666;
    margin-top: 5px;
}

.weather-day-header {
    margin-bottom: 5px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.weather-day-name {
    font-weight: lighter;
    padding: 0;
}

.weather-temp-range {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 5px 0;
}

.temperature-min__icon {
    width: 6px;
    fill: #6c757d;
}

.temperature-max__icon {
    width: 6px;
    fill: #000;
    transform: rotate(180deg);
}

.temp-max,
.temp-min {
    font-size: 15px;
    color: #000;
}

.temp-max {
    color: #000;
}

.temp-min {
    color: #6c757d;
}

.rain-precipitation {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}


@media (min-width: 779px) {
    .weather-default-info {
        transition: all 0.2s ease-out;
    }

    .weather-extra-info {
        opacity: 0;
        font-size: 12px;
        color: #666;
        transform: scale(0);
        transition: all 0.2s ease-out;
        margin-bottom: -50px;
    }

    .weather-day:hover .weather-default-info {
        opacity: 0;
        transform: scale(0);
        margin-bottom: -120px;
    }

    .weather-day:hover .weather-extra-info {
        opacity: 1;
        transform: scale(1);
        height: auto;
        margin-bottom: unset;
    }
}

@media (max-width: 1099px) {
    .current-weather-meta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .current-weather-meta span {
        display: none;
    }
}

@media (max-width: 780px) {
    .weather-forecast {
        flex-direction: column;
    }

    .weather-day,
    .weather-default-info {
        flex-direction: row;
        justify-content: space-between;
    }

    .current-weather {
        border-right: none;
        border-bottom: 1px solid #dfdfdf;
        margin-bottom: 10px;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 30px !important;
    }

    .current-weather-meta {
        align-items: flex-start;
    }

    .weather-day-header {
        width: 50px;
    }

    .rain-precipitation {
        width: 70px;
    }

    .weather-default-info,
    .weather-day {
        gap: 10px;
    }

    .weather-default-info {
        display: flex;
        width: 75%;
        align-items: center;
        transition: none; 
    }

    .weather-extra-info {
        display: none; 
        transition: none; 
    }

    .weather-day:hover .weather-default-info {
        opacity: 1;
        transform: none;
        margin-bottom: 0;
    }

    .weather-day:hover .weather-extra-info {
        opacity: 0;
        transform: scale(0);
        display: none;
    }

    .weather-icon {
        width: 50px;
        height: 40px;
    }

    .weather-location {
        width: 100%;
    }
}